{% extends "blog/base.html" %}

{%block content %}
<h1>Menu</h1>
<p> Choose a Items to add to shopping cart</p>


<div class="table table-hover">
 
      {% for dish in dishes  %}
          {% if dish.restaurant == 'Le Petit Souffle' %}


  <table class="table table-bordered" style ="width: 500px; background-color: #00cccc;">
    <tbody>
      <tr>
        <td style ="width: 300px; background-color: #00cccc;">{{dish.name}}</td>
        <td style ="width: 200px; background-color: #00cccc;">Rs.{{dish.price}}</td>
      </tr>
    </tbody>
  </table>
    {% endif %}   

  {% endfor %}
</div>

</body>
</html>

{% endblock content %}