{% extends "blog/base.html" %}

{%block content %}
	<h1>BHOOKAY REGISTER</h1>
	<p>SIGN UP</p>

	<form method="POST">
		{% csrf_token %}
	
			{% for field in registration_form %}

				<p>
					{{ field.label_tag }}
					{{ field }}

					{% if field.help_text %}
						<small style = "color:grey;"> {{ field.help_text }}</small>
					{% endif %}

					{% for error in field.errors %}
						<p style = "color:red;">
							{{error}}
							
						</p>
							

					{% endfor %}
				</p>

			{% endfor %}
			<button type="submit">SIGN UP</button> 
		
	</form>
			
{%endblock content%}
